VUE_APP_API_URL=https://cocachola.backend.scorecloud.dev/
VUE_APP_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0b2tlbl90eXBlIjoiYWNjZXNzIiwiZXhwIjoxNzExNTkyMjk4LCJpYXQiOjE3MTE1MTMwOTgsImp0aSI6IjRkNmFkM2IzNjQwNzQ1NTlhMzVjM2FhMTNlYmRkMzRlIiwidXNlcl9pZCI6MTMsImN1c3RvbWVyX2lkIjoyfQ.SAX0H4d13SWCAX9smdbgP2b_nCWf92AT1cGX_rymNxY